@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800&family=Raleway&display=swap");
/* Problemas por arreglar: 

- el margen se lo teniamos que haber agregado a cada seccio  no a los items individuales. 
*/

/* icons ////////////////////*/

.github-icon {
  width: 80%;
  height: 80%;
}

.dev-icons {
  width: 40px;
  height: 40px;
  color: black;
}

/*////////////////////*/

* {
  font-family: "Montserrat", sans-serif;
}

.logo {
  background-color: white;
}

img {
  width: 80%;
  max-width: 300px;
}

/* los section new tenemos que recontar las secciones para que tenga sentido donde la ubicamos.   */
.section-new {
  display: flex;
  margin-top: 100px;
  justify-content: flex-start;
  height: 60vh;
}

.section-two-title {
  font-size: 16px;
  background-color: lightblue;
  text-align: center;
  margin: 0;
  padding: 50px;
}

.section-five-title {
  font-size: 16px;
  background-color: lightblue;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

.section-two {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 40vh;
  background-color: lightblue;
  height: 40vh;
}

#container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  /* grid-template-rows: 50px; */
  grid-gap: 5px;
  box-sizing: border-box;
  height: 20vh;
  width: 100%;
  align-content: center;
  background-color: #8ca0ff;
  padding: 10px;
}

/* height: para juntar ambos containers
padding-top: el margen del container del titulo
*/
/* .sec-two-title {
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: #333;
  padding-top: 20px;
  margin: 0;
  color: white;
} */

#container > div {
  background-color: #8ca0ff;
  padding: 5px;
}

/* /// */

.section-three {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;

  /* background-color: rgb(233, 232, 232); */
}

/* /// */

.section-four {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: lightblue;
}

/* /// */

.section-five {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 60vh;
  background-color: lightblue;
}

.icon-section-five {
  /* padding: 20px; */
  margin: 15px;
}

.p-sm {
  font-size: 11px;
  padding: 10px;
  /* font-family: monserrat; */
}

/* /section 6 // */

/* /section 7 / */
.section-seven {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 60vh;
  background-color: lightblue;
}

/* Parrafo section siete */
.p-section-seven {
  max-width: 600px;
}

/* /// */

h2,
h3,
p {
  padding-bottom: 20px;
}

/* sujeto a eliminación */
.header {
  margin-top: 80px;
  margin-left: 50px;
}

/* Este es el margen que afecta todos los titulos*/

.left-col-title {
  margin-left: 50px;
}

/* sujeto a eliminacion pertenece a section-one col */
.left-col-real-title {
  font-size: 2rem;
}

/* subjet to be deleted because - section-one.css*/
.right-col-img {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

/* scroll menu styles ///////////*/
/* paddig-top utilice to center items. */

div.scrollmenu {
  background-color: lightblue;
  overflow: auto;
  white-space: nowrap;
  height: 160px;
  /* padding-top: 80px; */
  text-align: center;
}

div.scrollmenu p {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

/* div.scrollmenu p:hover {
  background-color: #777;
} */
/* //////////// */

/* mobile displays, aqui es donde el texto se deberia centrar. Para todas las demas resoluciones el texto deberia ser el mismo.*/
@media screen and (max-width: 414px) {
  /* sujetos a ser eliminados por pertenecer a section-1 */
  .left-col-title {
    text-align: center;
  }
  .right-col-img {
    order: -1;
  }
  .section-five {
    height: 90vh;
  }
}

@media screen and (max-width: 600px) {
  * {
    text-align: center;
  }

  .section-five {
    height: 120vh;
  }

  .right-col-img {
    order: -1;
  }

  .section-three {
    height: 90vh;
  }

  .section-new {
    height: 90vh;
  }
}

@media screen and (max-width: 800px) {
  /* title sec-one top margin  */
  .header {
    margin-top: 0px;
    margin-left: 0px;
  }

  .container {
    overflow-x: auto;
    max-width: 700px;
  }

  .left-col-title {
    margin-left: 0px;
  }
}

/* no lo muestres hasta que el maximo sea 830px */
/* @media screen and (mix-width: 830px) {
  
} */
